<!DOCTYPE html>
<html lang="en">
 <head>
   <title>Aussie Dogs</title>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
 </head>
    <style>
    table { font-family: Arial, Helvetica, sans-serif; border-collapse: collapse; width: 100%; }
    
     td,  th { border: 1px solid #ddd; padding: 8px; }
    
     tr:nth-child(even){background-color: #f2f2f2;}
    
     tr:hover {background-color: #ddd;}
    
     th { padding-top: 12px; padding-bottom: 12px; text-align: left; background-color: #007bff; color: white;}
    </style>

 <body>
 <div class="container mt-4">
     <div class="card">
       <div class="card-body">
         <h2>Find Suburbs With a Lot of a Certain Breed</h2>
         <form action="adv1" method="POST">
           <div class="form-group">
             <label for="adv1breed">Breed</label>
             <input type="text" class="form-control col-lg-9" id="adv1breed" aria-describedby="emailHelp" placeholder="Enter Breed" name="adv1breed">
           </div>
           <button type="submit" class="btn btn-primary">Search</button>
         </form>
            <table>
             <tr>
             <th> Suburb </th>
             <th> Dog Count </th>
             </tr>
          <% for(let i=0; i<adv_q1.length; i++) {%>
             <tr>
             <td><%= adv_q1[i].Suburb %></td>
             <td><%= adv_q1[i].DogCount %></td>
             </tr>
             <% } %>
            </table>
   </div>
 </div>
 </div>
 </body>
</html>
