<!DOCTYPE html>
<html lang="en">
 <head>
   <title>Aussie Dogs</title>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css%22%3E
 </head>

 <body>
   <div class="container mt-4">
     <div class="card">
       <div class="card-body">
         <h2>Town Building Visualization</h2>
         <form action="create" method="POST">
           <div class="form-group">
             <label for="newreferenceid">Reference ID</label>
             <input type="text" class="form-control col-lg-9" id="newreferenceid" aria-describedby="emailHelp" placeholder="Enter Reference ID" name="newreferenceid">
           </div>
           <button type="submit" class="btn btn-primary">Submit</button>
         </form>
   </div>
 </div>
 </div>
 </body>
</html>
